<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209859664797-p9jvtj9le15mepim3rkj99bov8673c7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209859664797-p9jvtj9le15mepim3rkj99bov8673c7v</string>
	<key>API_KEY</key>
	<string>AIzaSyDNebntOc9_iDvr0UZgCCSj-zy0xhbkqm8</string>
	<key>GCM_SENDER_ID</key>
	<string>209859664797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robin.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-2ae74</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-2ae74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209859664797:ios:7ad0f8f45bb9115a</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-2ae74.firebaseio.com</string>
</dict>
</plist>